@use "../../scss/" as *;

.container-portfolio {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);

  @include tablet {
    gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .project {
    background-color: $color-bg-variant;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: $tranSition;

    &:hover {
      border-color: $color-primary-variant;
      background-color: transparent;
    }

    &-img {
      border-radius: 1.5rem;
      overflow: hidden;
    }

    h3 {
      margin: 1.2rem 0 2rem;
    }

    .demo {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}
