@use "../../scss/" as *;

.nav {
  width: max-content;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  padding: 0.7rem 1.7rem;
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-radius: 3rem;
  @include flex();
  gap: 0.9rem;
  backdrop-filter: blur(15px);
  z-index: 2;

  a {
    background: transparent;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.9rem;
    @include flex();
    color: $color-light;

    &.active {
      background: $color-bg;
      color: $color-white;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }
}
